@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, "SF Mono", monospace;
}
